.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
  border-bottom: 1px solid #cecece;
  a {
    color: #5b5b5b;
    text-decoration: none;
    padding: 5px 0;
  }
  span {
    font-size: 12px;
    margin: 10px 0;
    &:hover {
      text-decoration: underline !important;
      cursor: pointer;
    }
  }
}
